pagination.visible-xs

h2 Exercise - {{todo.current}}&nbsp;&nbsp;
  if config.openExerciseLink
    a.open-exercise(href='/{{todo.current}}', target='_blank')
      i.glyphicon.glyphicon-share
      | Open exercise
    span.clearfix

div
  ng-include(src="todo.template")

pagination
