pagination.visible-xs

h2 Exercise - {{todo.current}}&nbsp;&nbsp;
  a.open-exercise(href='/{{todo.current}}', target='_blank')
    i.glyphicon.glyphicon-share
    | Open exercise

div
  ng-include(src="todo.template")

pagination