@import "../node_modules/bootstrap/less/bootstrap.less";
@import "./bs-menu.less";

@icon-font-path: "../node_modules/bootstrap/fonts/";

body {
  .container-fluid;
}

.menu {
  .make-sm-column(3);
  .hidden-xs;
}

.main {
  .make-sm-column(9);
}

.footer {
  text-align: right;
  font-size: 9pt;
  font-style: italic;
}

hint {
  div {
    div {
      .alert;
      .alert-info;
      padding: 10px;
    }
  }
}

pagination {

  .pager {
    text-align: left;
  }
  .next {
    float: right;
  }
}

.open-exercise {
  .btn;
  .btn-success;
  .btn-lg;
  float: right;

  i.glyphicon {
    display: inline-block;
    margin: 0 5px 0 5px;
  }
}

.bigger-distance {
  margin-top: 30px;
}

h2 {
  margin-top: 10px;
}

h4 {
  .tests {
    padding-left: 5px;
    font-size: 80%;
  }
}

.info {
  .alert;
  .alert-info;
  padding: 10px;
}

.warning {
  .alert;
  .alert-warning;
  padding: 10px;
}

.danger {
  .alert;
  .alert-danger;
  padding: 10px;
}

.success {
  .alert;
  .alert-success;
  padding: 10px;
}

.well {
  .well;
  padding: 10px;
}

.bs-callout(@color) {
  display: block;
  margin: 20px 0;
  padding: 10px;

  border: 1px solid #eee;
  border-radius: 5px;

  border-left: 5px solid @color;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: @color;
  }
}

.bs-callout-primary {
  .bs-callout(@brand-primary);
}

.bs-callout-danger {
  .bs-callout(@brand-danger);
}

.bs-callout-warning {
  .bs-callout(@brand-warning);
}

.bs-callout-info {
  .bs-callout(@brand-info);
}

.bs-callout-success {
  .bs-callout(@brand-success);
}

.tests {
  &.passed {
    .bs-callout-success;
    h4 .icon {
      .glyphicon;
      .glyphicon-ok;

    }
  }
  &.failed {
    .bs-callout-danger;
    h4 .icon {
      .glyphicon;
      .glyphicon-remove;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 20px;

    li {
      &.passed {
        color: @brand-success;
        .icon {
          .glyphicon;
          .glyphicon-ok;
        }
      }
      &.failed {
        color: @brand-danger;
        .icon {
          .glyphicon;
          .glyphicon-remove;
        }
      }

    }
  }
}