@import "../node_modules/bootstrap/less/bootstrap.less";

@icon-font-path: "../node_modules/bootstrap/fonts/";

body {
  .container-fluid;
}

.menu {
  .make-sm-column(3);
  .hidden-xs;
}

.main {
  .make-sm-column(9);
}

note {
  div {
    div {
      .alert;
      .alert-info;
      padding: 10px;
    }
  }
}

pagination {
  div {
    padding-top: 15px;
    padding-bottom: 15px;

    .prev, .next {
      .btn;
      .btn-info;
    }

    .next {
      float: right;
    }
  }
}

.devel-warning {
  .alert;
  .alert-danger;
}

.open-exercise {
  .btn;
  .btn-success;
  .btn-lg;
}

.bigger-distance {
  margin-top: 30px;
}

h4 {
  .tests {
    padding-left: 5px;
    font-size: 80%;
  }
}

.bs-callout(@color) {
  display: block;
  margin: 20px 0;
  padding: 10px;

  border: 1px solid #eee;
  border-radius: 5px;

  border-left: 5px solid @color;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: @color;
  }
}

.bs-callout-primary {
  .bs-callout(@brand-primary);
}

.bs-callout-danger {
  .bs-callout(@brand-danger);
}

.bs-callout-warning {
  .bs-callout(@brand-warning);
}

.bs-callout-info {
  .bs-callout(@brand-info);
}

.bs-callout-success {
  .bs-callout(@brand-success);
}

.tests {
  &.passed {
    .bs-callout-success;
    h4 .icon {
      .glyphicon;
      .glyphicon-ok;

    }
  }
  &.failed {
    .bs-callout-danger;
    h4 .icon {
      .glyphicon;
      .glyphicon-remove;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 20px;

    li {
      &.passed {
        color: @brand-success;
        .icon {
          .glyphicon;
          .glyphicon-ok;
        }
      }
      &.failed {
        color: @brand-danger;
        .icon {
          .glyphicon;
          .glyphicon-remove;
        }
      }

    }
  }
}