.bs-callout(@color) {
  border-left: 5px solid @color;

  h1, h2, h3, h4, h5, h6 {
    color: @color;
  }
}

.tests, .tests-exists {
  display: block;
  margin: 20px 0;
  padding: 10px;
  min-height: 40px;

  border: 1px solid #eee;
  border-radius: 5px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  &.passed {
    .bs-callout(@brand-success);
  }
  &.failed {
    .bs-callout(@brand-danger);
  }
  &.skipped {
    .bs-callout(@brand-warning);
  }
  &.error {
    .bs-callout(@brand-danger);
    color: @brand-danger;
  }

  .passed, &.passed {
    color: @brand-success;
    > .icon, h4 .icon {
      .glyphicon;
      .glyphicon-ok;
      top: 3px;
    }
    > .icon {
      top: 2px;
    }
  }

  .failed, &.failed {
    color: @brand-danger;
    > .icon, h4 .icon {
      .glyphicon;
      .glyphicon-remove;
      top: 3px;
    }
    > .icon {
      top: 2px;
    }
  }

  .skipped, &.skipped {
    color: @brand-warning;
    > .icon, h4 .icon {
      .glyphicon;
      .glyphicon-share-alt;
      top: 3px;
    }
    > .icon {
      top: 2px;
    }
  }

  & .no-expectation {
    color: @brand-warning;
    > .icon, h4 .icon {
      .glyphicon;
      .glyphicon-exclamation-sign;
      top: 3px;
    }
    > .icon {
      top: 2px;
    }
  }

  & .slow-test-warning {
    color: @brand-warning;
    display:inline-block;
    padding-left:10px;
    width: 28px;

    .glyphicon;

    &:before {
      content: "\e023";
    }
  }

  ul {
    list-style-type: none;
    padding-left: 15px;
    margin-bottom: 3px;
  }

  .log {
    margin-left: 40px;
    color: dimgrey;
    white-space: pre-wrap;
  }
}
