.panel.panel-info(ng-if="visible")
  .panel-heading
    .panel-title
      i.ico
      | &nbsp;Hint

  .panel-body(ng-if="visible")
    ng-transclude

div.link(ng-if="!visible")
  a(href="",ng-click="toggle()")
    i.ico
    | &nbsp;Show hint
