div
  .panel.panel-info(ng-if="visible")
    .panel-heading
      i.i.glyphicon.glyphicon-info-sign
      | &nbsp;Hint

    .panel-body(ng-if="visible")
      ng-transclude

  div(ng-if="!visible")
    a(href="",ng-click="toggle()")
      i.glyphicon.glyphicon-info-sign
      | &nbsp;Show hint
