div
  a.prev(ui-sref="todos.todo({name: pagination.prev})", ng-if='pagination.prev') <- {{pagination.prev}}
  a.next(ui-sref="todos.todo({name: pagination.next})", ng-if='pagination.next') {{pagination.next}} ->
