div
  .panel.panel-warning(ng-if="visible")
    .panel-heading(ng-show=1)
      .panel-title
        i.ico
        | &nbsp;Solution
    .panel-body
      snippet(type="{{highlight}}")
        ng-transclude

  div(ng-if="!visible")
    .text-right
      a(href="",ng-click="toggle()")
        i.ico
        | &nbsp;Show solution