div.tests(ng-if="tests.results", ng-class="{'passed' : tests.isPassed(), 'failed' : !tests.isPassed()}")
  span.pull-right
    |  {{tests.results.passed}} / {{tests.results.total}} passed

  ul
    li(ng-repeat="test in tests.results.tests", ng-class="test.type|lowercase")
      span.icon
      |  {{test.name}}
