div(ng-if="tests.results")
  div.tests.error(ng-if="tests.results.browserErrors")
    span.log-line(ng-repeat="line in tests.results.browserErrors").
      {{line}}<br />

  div.tests(ng-if="!tests.results.browserErrors", ng-class="{'passed' : tests.isPassed(), 'failed' : !tests.isPassed()}")
    span.pull-right
      |  {{tests.results.passed}} / {{tests.results.total}} passed
      span.skipped(ng-if='tests.results.skipped').
        &nbsp;({{tests.results.skipped}} skipped)
    ul(ng-if="tests.results.tests.length")
      li(ng-repeat="test in tests.results.tests", ng-class="test.status|lowercase")
        span.icon
        |  {{test.name}}
        div.log(ng-if="test.log.length")
          span.log-line(ng-repeat="line in test.log track by $index").
            {{line}}<br />
    div(ng-if="!tests.results.tests.length").
      No tests for TODO {{tests.todo}}
