div(ng-if="tests.results")
  div.tests.error(ng-if="tests.results.browserErrors")
    span.log-line(ng-repeat="line in tests.results.browserErrors").
      {{line}}<br />

  div.tests-exists(ng-if="!tests.results.browserErrors",ng-class="{'passed' : tests.exists(), 'failed' : !tests.exists()}")
    span(ng-show="tests.exists()").
      Tests for TODO {{tests.todo}} exists
    span(ng-hide="tests.exists()").
      No tests for TODO {{tests.todo}}
