div.tests-results.panel(ng-class='{"panel-success": tests.isPassed(), "panel-danger": !tests.isPassed()}')
  .panel-heading
    .panel-title
      .pull-right(ng-if="!tests.showTests")
        div(ng-if="tests.results.total > 1")
          span.icon
          |  {{tests.results.passed}} / {{tests.results.total}} passed

      h4
        div(ng-if="tests.isPassed()")
          i.ico
          | &nbsp;Congratulations, all tests now passed!
        div(ng-if="!tests.isPassed()")
          i
          | &nbsp;Some tests failed!

  .panel-body(ng-if="tests.showTests")
    include tests


